<div id="receiptWrapper" class="receiptWrapper">
  <div class="receipt zig-zag zig-zag-top zig-zag-bottom">
    <img class="center" src="../../../../assets/barLogo.png">
    <div class="receiptHeader">More SuperMarket
      <br>
      <span> #21, Gayathri Nagar, Hyderabad, Telangana, India, 500079</span>
    </div>
    <div class="receiptBody">
      <div class="receiptItem">
        <table class="receiptTable">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Name</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of response.data">
              <td>num</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price * item.quantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="receiptFooter">
      <span>242005521
        <br>,242005507
        <br>,sales@moresupermarkets.com
        <br>
      </span>
    </div>
  </div>
</div>
