<div class="container main-content">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="content">
    <div class="blocks" fxFlex>

      <h2>Menu</h2>
      <div class="menuItem" fxLayout="row" fxLayoutAlign="space-between stretch" *ngFor="let item of beers;trackBy:trackByFn">
        <!--<img mat-list-avatar [src]="item.img">-->
        <p mat-line>{{item.name}}</p>
        <p mat-line>
          <span>$ {{item.price}} </span>
        </p>
        <button class="round-button" (click)="addProduct()">
          <mat-icon svgIcon="plus-icon"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
