.menuItem {
    width: 100%;
}

.main-content {
    background-image: url("../../../../assets/madera.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-list-item-content{
    padding: 0;
}