/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body,
material-app,
mat-sidenav-container {
    margin: 0;
    height: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-fab {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.blocks {
    margin-bottom: 20px;
    width: 90%;
}

h2,
h1,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12px;
}

p span {
    font-size: 12px;
}