<div class="login">
  <div fxLayout="column" fxFill fxLayoutAlign="center center">
    <img class="img-logo" src="../../../assets/logo.png" />
    <form class="form-container">
      <mat-form-field class="mat-field">
        <input matInput placeholder="User">
      </mat-form-field>

      <mat-form-field class="mat-field">
        <input matInput placeholder="Password">
      </mat-form-field>
      <button mat-raised-button>Basic</button>
    </form>
  </div>
  <div class="footer">
    <div class="img-footer">
      &nbsp;
    </div>
  </div>
</div>
